{% extends '@EasyAdmin/page/login.html.twig' %}

{# Discord is the only login method: replace the username/password form entirely. #}
{% block login_form_wrapper %}
    <div class="text-center">
        <a href="{{ path('connect_discord_start') }}" class="btn btn-primary btn-lg" style="width: 100%;">
            <i class="fab fa-discord"></i> Se connecter avec Discord
        </a>
    </div>
{% endblock %}
